@import "susy";

// Susy
$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 10px;
$container-style: fluid;
$container-width: 95%;

// colours
$blue: #00A98F;
$light-grey: #F2F2F2;
$dark-grey: #333333;