<h1>Активация аккаунта</h1>
<h3>Введите код полученный по смс</h3>
<%= form_tag user_confirmation_path, method: :get do%>
    <%= text_field_tag :confirmation_token %>
    <%= submit_tag "Активировать" %>
<% end %>