<% content_for :page_title do %>Список районов<% end %>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @distincts.each do |distinct| %>
  <tr>
    <td><%= link_to 'Посмотреть', distinct %></td>
    <td><%= link_to 'Редактировать', edit_distinct_path(distinct) %></td>
    <td><%= link_to 'Удалить', distinct, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Создать район', new_distinct_path %>
