<h1>Listing distincts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @distincts.each do |distinct| %>
  <tr>
    <td><%= link_to 'Show', distinct %></td>
    <td><%= link_to 'Edit', edit_distinct_path(distinct) %></td>
    <td><%= link_to 'Destroy', distinct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Distinct', new_distinct_path %>
