<h1>Увеличить рейтинг</h1>
<ul>
    <li><%= link_to 'Написание статей', new_article_path %></li>
    <li>Размещение объектов с полным описанием</li>
    <li><%= link_to "Купить рейтинг",  pay_for_rating_payments_path %></li>
</ul>