<% content_for :page_title do %>Список стран<% end %>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @countries.each do |country| %>
  <tr>
    <td><%= link_to 'Посмотреть', country %></td>
    <td><%= link_to 'Редактировать', edit_country_path(country) %></td>
    <td><%= link_to 'Удалить', country, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Создать страну', new_country_path %>
