// Build Objects form
@import "../scss/mixins";
@import "../scss/variables";

// display filter
.data-filter {
	margin-bottom: 2em;
	label {
		display: block;
		font-size: 1.2em;
	}
	input[type="text"] {
		border:1px solid $grey;
		background-color: $light-grey;
		padding: 4px;
	}

	div.price, div.address {
		@include span-columns(4,8);
	}
	div.area, div.details {
		@include span-columns(4 omega,8);
	}
	.price, .area {
		input {
			width: 80px;
		}
	}
	div.address, div.details {
		margin-bottom: 1em;
	}
	.ipoteka {
		label {
			display: inline;
		}
	}
	.submit-form {
		display: block;
		clear: both;
	}
}

// display form
.data-table {
	table {
		width: 99%;
		margin-bottom: 1em;
		thead {
			background:$light-grey;
			th {
				font-size: 1.3em;
				color: $grey;
				font-weight: normal;
				padding: 10px;
				.order {
					display: inline-block;
					.ui-icon {
						display: inline-block;
					}
				}
			}
		}
		tbody {
			tr {
				td {
					border:1px solid $light-grey;
				}
			}
		}
	}
}
#buildobjects-datatable {
	
}

.ui-corner-tl {
    display: none;
}

//====== display appartment info
.top-block {
	h4 {
		color: $grey;
		font-size: 1.1em;
		font-weight: 300;
		&.price, &.sold {
			text-align: right;
		}
	}
}
//=== gallery
.orbit-container {
	max-width: 359px;
	.orbit-slides-container {
		img {
			margin: 0 auto;
		}
	}
	.orbit-prev, .orbit-next {
		top: 87%;
	}
	.orbit-slide-number {
		color: darken($grey, 10%);
	}
}
.orbit-bullets li {
	width: 8px;
	height: 8px;
}

//=== map
.gmap {
	margin-bottom: 1em;
	float: right;
}

//=== details
dl.object-info {
	dt {
		margin-bottom: .5em;
		font-size: 1em;
		color: $grey;
		font-weight: 300;
	}
	dd {
		border-right: 1px solid $orange;
		p {
			margin: 0 0 .5em 0;
			font-size: .9em;
		}
	}
	&.last {
		dd {
			border-right: 0 none;
		}
	}
}
#do_translate {
	float: right;
}
dl.details {
	dt {
		color: $grey;
		font-size: 1.2em;
		margin-bottom: .5em;
		&[class*="entypo-"]:before {
			color: $grey;
		}
	}
	dd {
		margin: 0;
	}
	&.obj-contact {
		dt {
			// background: image-url("icons.png") no-repeat 60px -131px;
		}
	}
	&.obj-show {
		dt {
			// background: image-url("icons.png") no-repeat 146px -157px;
		}
		a {
			@include sassy-button();
		}
	}
}

// Likes
#new_vote {
	display: inline;
}
#like-button {
	border:0 none;
	background-color: transparent;
	color: $orange;
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-family: 'PT Sans Narrow';
}
.voted,
.vote {
	&:before {
		color: $orange;
		margin-right: 2px;
	}
}
.likes {

}








