// Build Objects form
@import "../scss/mixins";
@import "../scss/variables";

// display filter
.data-filter {
	margin-bottom: 2em;
	label {
		display: block;
		font-size: 1.2em;
	}
	input[type="text"] {
		border:1px solid $grey;
		background-color: $light-grey;
		padding: 4px;
	}

	div.price, div.address {
		@include span-columns(4,8);
	}
	div.area, div.details {
		@include span-columns(4 omega,8);
	}
	.price, .area {
		input {
			width: 80px;
		}
	}
	div.address, div.details {
		margin-bottom: 1em;
	}
	.ipoteka {
		label {
			display: inline;
		}
	}
	.submit-form {
		display: block;
		clear: both;
	}
}

// display form
.data-table {
	table {
		width: 99%;
		margin-bottom: 1em;
		thead {
			background:$light-grey;
			th {
				font-size: 1.3em;
				color: $grey;
				font-weight: normal;
				padding: 10px;
				.order {
					display: inline-block;
					.ui-icon {
						display: inline-block;
					}
				}
			}
		}
		tbody {
			tr {
				td {
					border:1px solid $light-grey;
				}
			}
		}
	}
}

// display appartment info
table.details {
	border-spacing:0;
	border-collapse:collapse;
	margin-bottom: 1em;
	thead {
		border: 1px solid $grey;
		background-color: $light-grey;
		tr {
			th {
				font-size: 1.2em;
				color: $grey;
				font-weight: 300;
				padding: 5px;
			}
		}
	}
	tbody {
		tr {
			td {
				border: 1px solid $grey;
				vertical-align: top;
				padding: 5px;
			}
		}
	}
	&.selling {
		thead {
			th {
				text-align: left;
			}
		}
	}
}
dl.details {
	dt {
		color: $grey;
		font-size: 1.2em;
		margin-bottom: .5em;
	}
	dd {
		margin: 0;
	}
	&.obj-contact {
		@include span-columns(2,8);
		dt {
			background: image-url("icons.png") no-repeat 60px -131px;
		}
	}
	&.obj-show {
		@include span-columns(2 omega,8);
		dt {
			background: image-url("icons.png") no-repeat 140px -157px;
		}
		a {
			@include sassy-button();
		}
	}
}









