@import "../scss/mixins";
@import "../scss/variables";

.no-close .ui-dialog-titlebar-close {
  display: none;
}

#cabinet {
	ul {
		@include clear-nav();
	}

	.user-info {
		dt {
			float: left;
			width: 130px;
		}
		dd {
			color: lighten($grey, 10%);
		}
	}
}