@import "../scss/variables";
@import "compass/css3";

/*
 * jQuery UI specific styling
 */

.paging_two_button .ui-button {
  float: left;
	cursor: pointer;
	* cursor: hand;
}

.paging_full_numbers .ui-button {
	padding: 2px 6px;
	margin: 0;
	cursor: pointer;
	* cursor: hand;
	color: #333 !important;
}

.dataTables_paginate .ui-button {
	margin-right: -0.1em !important;
}

.dataTables_wrapper .ui-toolbar {
	padding: 5px;
    margin: 0 auto;
}

.dataTables_paginate {
	width: auto;
}

.dataTables_info {
	padding-top: 3px;
}

table.display{
	border:0 none;
	thead th {
		padding: 10px 0px 10px 10px;
		border-bottom-color: $grey;
		cursor: pointer;
		* cursor: hand;
	}
}

div.dataTables_wrapper .ui-widget-header {
	font-weight: normal;
}


/*
 * Sort arrow icon positioning
 */
table.display thead th div.DataTables_sort_wrapper {
	position: relative;
	padding-right: 20px;
	padding-right: 20px;
}

table.display thead th div.DataTables_sort_wrapper span {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 0;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Everything below this line is the same as demo_table.css. This file is
 * required for 'cleanliness' of the markup
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

/* Wrapper only effects the Header and Footer content, not the results in the DataTable */
.dataTables_wrapper {
	position: relative;
	clear: both;
}

.dataTables_processing {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 250px;
	margin-left: -125px;
	border: 1px solid lighten($orange, 10%);
	background-color: #fff;
	text-align: center;
	color: #999;
	font-size: 11px;
	padding: 2px 0;
}

/* Length is the dropdown which selects the number of items to return */
.dataTables_length {
	float: left;
	select {
		margin: 0;
		display: inline;
		width: 60px;
	}
}

/* Filter is the Search Field  */
.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
    padding: 3px;
}

/* Info is the footer which displays the number of results displaying out of the total number of results  */
.dataTables_info {
	width: 50%;
	float: left;
}

/* Paginate is the footer which lists the pages */
.dataTables_paginate {
	float: right;
	text-align: right;
    padding: 3px;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('/assets/dataTables/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('/assets/dataTables/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('/assets/dataTables/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('/assets/dataTables/forward_enabled.jpg');
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto 1em auto;
	width: 100%;
	clear: both;
	border-collapse: collapse;

	thead {
		tr {
			th {
				color: $orange;
				font-weight: 700;
			}
		}
	}

	tr.heading2 td {
		border-bottom: 1px solid #aaa;
	}

	tbody {
		tr {
			border-bottom: 1px solid $orange;
			td {
				padding: 10px 10px;
				&.center {
					text-align: center;
				}
				&:nth-child(2) {
					font-size: 1.3em;
				}
			}
		}
	}

	tfoot th {
		padding: 3px 0px 3px 10px;
		font-weight: bold;
		font-weight: normal;
	}
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('/assets/dataTables/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('/assets/dataTables/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('/assets/dataTables/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('/assets/dataTables/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('/assets/dataTables/sort_desc_disabled.png') no-repeat center right;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
table.display tr.odd.gradeA {
	background-color: #ddffdd;
}

table.display tr.even.gradeA {
	background-color: #eeffee;
}




table.display tr.odd.gradeA {
	background-color: #ddffdd;
}

table.display tr.even.gradeA {
	background-color: #eeffee;
}

table.display tr.odd.gradeC {
	background-color: #ddddff;
}

table.display tr.even.gradeC {
	background-color: #eeeeff;
}

table.display tr.odd.gradeX {
	background-color: #ffdddd;
}

table.display tr.even.gradeX {
	background-color: #ffeeee;
}

table.display tr.odd.gradeU {
	background-color: #ddd;
}

table.display tr.even.gradeU {
	background-color: #eee;
}

table.display {
	tr {
		background-color: white;
		background-color: rgba(255,255,255,.3);
	}
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll {
	clear: both;
}

.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}

.paging_full_numbers {
	a.paginate_button,
 	a.paginate_active {
		border: 1px solid #aaa;
		@include border-radius(2px);
		padding: 2px 5px;
		margin: 0 3px;
		cursor: pointer;
		*cursor: hand;
		color: #333;
	}

	a.paginate_button {
		background-color: #ddd;
	}

	a.paginate_button:hover {
		background-color: #ccc;
		text-decoration: none !important;
	}
	
	a.paginate_button_disabled, a.paginate_button_disabled:hover {
		background-color: lighten(#ddd, 20%);
		border-color: lighten(#aaa, 20%);
		color: lighten(#333, 20%);
		cursor: default;
	}

	a.paginate_active {
		background-color: $orange;
	}
}


// /*
//  * Sorting classes for columns
//  */
// /* For the standard odd/even */
// tr.odd td.sorting_1 {
// 	background-color: #D3D6FF;
// }

// tr.odd td.sorting_2 {
// 	background-color: #DADCFF;
// }

// tr.odd td.sorting_3 {
// 	background-color: #E0E2FF;
// }

// tr.even td.sorting_1 {
// 	background-color: #EAEBFF;
// }

// tr.even td.sorting_2 {
// 	background-color: #F2F3FF;
// }

// tr.even td.sorting_3 {
// 	background-color: #F9F9FF;
// }


// /* For the Conditional-CSS grading rows */
// /*
//  	Colour calculations (based off the main row colours)
//   Level 1:
// 		dd > c4
// 		ee > d5
// 	Level 2:
// 	  dd > d1
// 	  ee > e2
//  */
// tr.odd.gradeA td.sorting_1 {
// 	background-color: #c4ffc4;
// }

// tr.odd.gradeA td.sorting_2 {
// 	background-color: #d1ffd1;
// }

// tr.odd.gradeA td.sorting_3 {
// 	background-color: #d1ffd1;
// }

// tr.even.gradeA td.sorting_1 {
// 	background-color: #d5ffd5;
// }

// tr.even.gradeA td.sorting_2 {
// 	background-color: #e2ffe2;
// }

// tr.even.gradeA td.sorting_3 {
// 	background-color: #e2ffe2;
// }

// tr.odd.gradeC td.sorting_1 {
// 	background-color: #c4c4ff;
// }

// tr.odd.gradeC td.sorting_2 {
// 	background-color: #d1d1ff;
// }

// tr.odd.gradeC td.sorting_3 {
// 	background-color: #d1d1ff;
// }

// tr.even.gradeC td.sorting_1 {
// 	background-color: #d5d5ff;
// }

// tr.even.gradeC td.sorting_2 {
// 	background-color: #e2e2ff;
// }

// tr.even.gradeC td.sorting_3 {
// 	background-color: #e2e2ff;
// }

// tr.odd.gradeX td.sorting_1 {
// 	background-color: #ffc4c4;
// }

// tr.odd.gradeX td.sorting_2 {
// 	background-color: #ffd1d1;
// }

// tr.odd.gradeX td.sorting_3 {
// 	background-color: #ffd1d1;
// }

// tr.even.gradeX td.sorting_1 {
// 	background-color: #ffd5d5;
// }

// tr.even.gradeX td.sorting_2 {
// 	background-color: #ffe2e2;
// }

// tr.even.gradeX td.sorting_3 {
// 	background-color: #ffe2e2;
// }

// tr.odd.gradeU td.sorting_1 {
// 	background-color: #c4c4c4;
// }

// tr.odd.gradeU td.sorting_2 {
// 	background-color: #d1d1d1;
// }

// tr.odd.gradeU td.sorting_3 {
// 	background-color: #d1d1d1;
// }

// tr.even.gradeU td.sorting_1 {
// 	background-color: #d5d5d5;
// }

// tr.even.gradeU td.sorting_2 {
// 	background-color: #e2e2e2;
// }

// tr.even.gradeU td.sorting_3 {
// 	background-color: #e2e2e2;
// }


/*
 * Row highlighting example
 */
.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}