// background-image: image-url("rails.png");

@import "../scss/mixins";
@import "../scss/variables";

// Fonts
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700&subset=latin,cyrillic);
$pt-sans-narrow: 'PT Sans Narrow';
$pt-sans: 'PT Sans';

// Icons
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"] {
	&:before {
		font-family: 'entypo', sans-serif;
		margin-right: 5px;
	}
}

// Main styles

body {
	margin: 0;
	font-family: 'Helvetica Neue', helvetica, Arial, sans-serif;
	background-color: #D3D3D3;
}

a {
	&:link, &:visited {
	    color: $orange;
	    text-decoration: none;
	}
}

a {
	&:hover, &:active {
		color: darken($orange, 20%);
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

// PAGE
#page {
	
}


// HEADER

#header {
	border-bottom: 3px solid #EEEEEF;
	margin-bottom:1.5em;
	background: #fff image-url("header-right.gif") no-repeat right top;
	.row {
		// background: image-url("header-right.gif") no-repeat right top;
		padding: 0;
	}
}

// BRANDING
#branding {
	text-align: right;
}

// main navigation

#main-nav {
	ul {
		@include horizontal-nav();
		margin-top: 22px;
		li {
			border-right: 2px solid $orange;
			position: relative;
			&.last {
				border-right: 0 none;
			}
			a {
				display: inline-block;
				padding: 4px 15px 4px 15px;
				font-size: 1em;
				text-transform: uppercase;
				font-family: $pt-sans;
				color: #7F7F7F;
				&.active {
					border-bottom: 2px solid $blue;
					padding-bottom: 2px;
				}
				&:hover {
					text-decoration: none;
				}
			}
			ul {
				padding: 0;
				margin: 0;
				position: absolute;
				left: -9999em;
				top: 27px;
				background-color: #fff;
				li {
					border-right: 0 none;
					// border-bottom: 1px solid lighten($grey, 20%);
					a {
						padding: 0px 15px;
					}
				}
			}
			&:hover {
				> ul {
					left: 0;
				}
			}
		}
	}
}

// SIDEBARS
.sidebar {
	.block {
		background-color: #fff;
		margin-bottom: 1.5em;
		.block-title {
			color: $orange;
			font-size: 1em;
			padding: 14px;
			margin: 0;
		}
		.content {
			padding: 14px;
		}
		.menu {
			@include clear-nav();
		}
	}
	.banner {
		object {
			height: 270px;
			vertical-align: top;
		}
	}
}
#sidebar-right {
	padding-top: 1em;
	.block {
		background-color: transparent;
		a {
			color: #fff;
			&:hover {
				color: darken(#fff, 10%);
			}
		}
	}
}

// login form
#login-block {
	.textinput {
		width: 95%;
	}
	ul {
		@include clear-nav();
	}
}

// MAIN CONTENT
#main-content {
	padding-bottom: 2em;
	background-color: #fff;
	h1.title {
		background-color: #D3D3D3;
		font-size: 1em;
		line-height: 2em;
		padding: 0;
		b {
			font-size: 1.2em;
			background: #F4F5F5 image-url("main-title-bg.gif") no-repeat right top;
			padding: 3px 22px 5px 5px;
			font-weight: 300;
			color: #6C6D6F;
		}
	}
	.top-block {
		background-color: #F4F5F5;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}
	.content {
		padding-top: 1.5em;
		background: image-url("content-bg.gif") no-repeat right 90px;
	}
}
.btn {
	@include sassy-button();
	&:link, &:visited, &:active {
		color: #fff;
	}
}
.alert-box {
	h3 {
		color: #fff;
	}
}
.more {
	text-align: right;
	.read-more {
		color: $orange;
		&.btn {
			color: #fff;
		}
	}
}
//admin
.edit-links {
	clear: both;
	a {
		@include sassy-button();
		&.edit {
			@include sassy-button-gradient("matte", #FFC345, darken(#FFC345,5%), #fff, "inset");
		}
		&.delete {
			@include sassy-button-gradient("matte", #c60f13, darken(#c60f13,5%), #fff, "inset");
		}
	}
}

//=== ARTICLES
.article-content, .article {
	.article-img {
		float: left;
		margin: 0 15px 15px 0;
	}
}
p.more {
	clear: both;
}

// FOOTER
#footer {
	.copyright {
		border-top: 1px solid #fff;
		text-align: right;
		font-size: .8em;
		margin-top:2em;
	}
}

// MISC
input[type=submit],
label,
select,
.pointer{ cursor:pointer; }

html { overflow-y:scroll; }

// MEDIA QUERIES
@media #{$small} {
	@import "../scss/bigger-screen";
}




