// background-image: image-url("rails.png");

@import "../scss/mixins";
@import "../scss/variables";

// Fonts
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700&subset=latin,cyrillic);
$pt-sans-narrow: 'PT Sans Narrow';
$pt-sans: 'PT Sans';

// Icons
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  margin-right: 5px;
}

// Main styles

body {
	margin: 0;
	font: 15px / 1.5em $pt-sans-narrow, 'Helvetica Neue', helvetica, Arial, sans-serif;
	letter-spacing: 0.03em;
}

a {
	&:link, &:visited {
	    color: $blue;
	    text-decoration: none;
	}
}

a {
	&:hover, &:active {
		color: darken($blue, 20%);
		text-decoration: underline;
	}
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

// HEADER

header {
	border-top: 1px solid $dark-grey;
	margin: 2em 0;
	padding: 1em 0;
}

// main navigation

#main-nav {
	ul {
		@include horizontal-nav();
		margin-top: 50px;
		li {
			border-right: 1px solid #808080;
			position: relative;
			&.last {
				border-right: 0 none;
			}
			a {
				display: inline-block;
				padding: 4px 15px 4px 15px;
				font-size: 1em;
				font-family: $pt-sans;
				font-weight: bold;
				color: #000;
				&.active {
					border-bottom: 2px solid $blue;
					padding-bottom: 2px;
				}
				&:hover {
					text-decoration: none;
				}
			}
			ul {
				padding: 0;
				margin: 0;
				position: absolute;
				left: -9999em;
				top: 30px;
				background-color: #fff;
				li {
					border-right: 0 none;
					// border-bottom: 1px solid lighten($grey, 20%);
					a {
						padding: 0px 15px;
					}
				}
			}
			&:hover {
				> ul {
					left: 0;
				}
			}
		}
	}
}

// SIDEBARS
.sidebar {
	.block {
		border: 1px solid #CCCCCC;
		background-color: #F2F2F2;
		margin-bottom: 1.5em;
		.block-title {
			background-color: $blue;
			border-bottom: 1px solid #000;
			color: #fff;
			font-size: 1em;
			padding: 6px 8px;
			margin: 0;
		}
		.content {
			padding: 6px 8px;
		}
		.menu {
			@include clear-nav();
		}
	}
	.banner {
		object {
			height: 270px;
			vertical-align: top;
		}
	}
}

// login form
#login-block {
	.textinput {
		width: 95%;
	}
}

// MAIN CONTENT
#main-content {
	padding-bottom: 2em;
}
.btn {
	@include sassy-button();
	&:link, &:visited, &:active {
		color: #fff;
	}
}
.alert-box {
	h3 {
		color: #fff;
	}
}
//admin
.edit-links {
	clear: both;
	a {
		@include sassy-button();
		&.edit {
			@include sassy-button-gradient("matte", #FFC345, darken(#FFC345,5%), #fff, "inset");
		}
		&.delete {
			@include sassy-button-gradient("matte", #c60f13, darken(#c60f13,5%), #fff, "inset");
		}
	}
}

// FOOTER
footer {
	.copyright {
		border-top: 1px solid $dark-grey;
		text-align: right;
		margin:0;
	}
}



