<p>Здравтсвуйте, <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку на смену пароля на Вашем аккаунте:</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Вы можете изменить пароль зайдя по ссылке, но если Вы хотите оставить его, как есть, проигнорируйте это письмо.</p>
