<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Ваш аккаунт был заблокирован в связи с многочисленным вводом неправильного пароля.</p>

<p>Нажмите на следующую ссылку, чтобы разблокировать свой аккаунт:</p>

<p><%= link_to 'Разблокировать аккаунт', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
