<table width="100%" class="selling details">
  <thead>
    <tr>
      <th>Условия продажи</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="description_content"><%= simple_format build_object.description %></td>
    </tr>
  </tbody>
</table>

<div id="translate">
    <a href="#" id="do_transale">Перевести на русский</a>
</div>