<table width="100%" class="selling details">
  <thead>
    <tr>
      <th>Условия продажи <a href="#" style="float: right" id="do_transale">Перевести на русский</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="description_content"><%= simple_format build_object.description %></td>
    </tr>
  </tbody>
</table>