<dl class="object-info large-12 columns">
  <dt>Условия продажи <a href="#" id="do_transale">Перевести на русский</a></dt>
  <dd id="description_content"><%= simple_format build_object.description %></dd>
</dl>