<table>
    <thead>
        <tr>
            <th>
                Продаю
            </th>
            <th>
                Покупаю
            </th>
            <th>
                Состояние
            </th>
            <th>
                Подробнее
            </th>
        </tr>
    </thead>
    <tbody>
        <% @nodes.each do |node| %>
        <tr>
            <td>
                <%= link_to node.sell.name, node.sell %>
            </td>
            <td>
                <%= node.buy.try(:name) || "Пусто" %>
            </td>
            <td>
                <%= sell_status node.status %>
            </td>
            <td>
                <%= link_to "Подробнее" ,node %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>