<% content_for :page_title do %>Список объектов<% end %>

<%= render 'build_objects/filter_form' %>

<table id="buildobjects-datatable" class="display" data-source="<%= build_objects_url(format: "json") %>">
<thead>
  <tr>
    <th>Цена</th>
    <th>Адрес</th>
    <th>Площадь</th>
    <th>Описание</th>
  </tr>
</thead>
<tbody>

</tbody>
</table>