<h1>Создать новый объект</h1>
<h2>
<% if @sale_type == 'direct_sale' %>
    Прямая продажа
<% else %>
    Встречная продажа
<% end %>
</h2>
<%= render 'form' %>
<% if @sale_type == 'chaining_sale' %>
    <%= render 'form' %>
<% end %>

<%= link_to 'Back', build_objects_path %>
