<h1>Привязанные аккаунты</h1>
<p>Приязываение своего аккаунта от другой торговой площадки, позволит автоматизированно размещать Ваши объявления на привязанных сайтах</p>
<%= link_to 'Привязать аккаунт', new_linked_account_path %>
<table>
  <tr>
    <th>Аккаунт</th>
    <th></th>
    <th></th>
  </tr>

<% @linked_accounts.each do |linked_account| %>
  <tr>
    <td><%= link_to linked_account.type_of_linked_account, linked_account %></td>
    <td><%= link_to 'Изменить', edit_linked_account_path(linked_account) %></td>
    <td><%= link_to 'Отвязать', linked_account, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>

<br />

